body{
	background: #383a50;
}

* {
	font-family: Helvetica;
}

a:visited .hidden_a {
	color: white;
}

a:visited:not(.hidden_a) {
  color: blue;
}

p {
	display: block;
	margin: 10pt;
}

table {
	color: black;
	background: white;
	width: 100%;
	border: 1px solid;
	border-collapse: collapse;
}

hr {
	width: 1;
	color: white;
}

thead {
	background: whitesmoke;
	font-weight: bold;
}

td {
	padding-left: 2pt;
	padding-right: 2pt;
	text-align: left;
	vertical-align: middle;
}

input {
	padding: 1.5pt 3pt;
	background:white;
	color: black;
}
input[type=text] {
	width: 200pt;
}

h1, h2, h3 {
	margin: 8pt;
}

h1 {
	margin-top: 0pt;
}

button {
	padding: 1.5pt 3pt;
	background:white;
	h1, h2, h3 {
		margin: 8pt;
	}
}

.header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 30pt;
	margin: 0;
	padding: 6pt;
	text-align: center;
	color: white;
	background: cornflowerblue;
	border-color: white;
	border-bottom-style: solid;
	border-width: 2pt;
	text-wrap: nowrap;
	* {
		margin: auto;
	}
}

.body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 90%;
	min-height: 450px;
	max-height: 100%;
	margin: auto;
	margin-top: 45pt;
	text-align: center;
}

.note {
	font-size: 60%;
	color: whitesmoke;
	margin: 4pt;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.tableframe {
	overflow-y: auto;
	max-height: 200px;
}

.tablecell {
    background-size: 50pt 38pt;
    background-repeat: no-repeat;
    padding-left: 55pt;
    min-height: 38pt;
    margin: 0;
    background-position-y: center;
}

.sptablecell {
    background-size: 38pt 38pt;
    background-repeat: no-repeat;
    padding-left: 43pt;
    min-height: 38pt;
    margin: 0;
    background-position-y: center;
}

.textbox {
	color: white;
	background: cornflowerblue;
	padding: 10pt;
	margin: 10pt auto;
	max-width: 45%;
	display: inline-block;
}

.box {
	color: white;
	background: cornflowerblue;
	padding: 10pt;
	margin: 10pt auto;
	width: auto;
}

.hidden_a {
	color: white;
	text-decoration: none;
}

@media (max-width: 600px) {
	input[type=text] {
		width: 100pt;
	}
	.textbox {
		max-width: 100%;
	}
	.flex-container {
	    flex-direction: column;
    }
    .tableframe {
    	max-width: 60%;
    	max-height: 300px;
    	margin: auto;
    }
    .box {
    	padding: 5pt;
    }
    button {
    	h1, h2, h3 {
    		margin: 0pt;
    	}
    }
    .header {
    	flex-direction: column;
    	border-width: 2pt;
    	font-size: 32%;
    	h1 {
    	    font-size: 16pt;
    	}
    	div {
    	    display: flex;
    	    flex-direction: row;
    	    * {
    	        margin: 2pt;
    	    }
    	}
    	text-wrap: nowrap;
    	* {
    		margin: auto;
    	}
    }
    td {
        font-size: 6pt;
        text-overflow: ellipsis;
        max-width: 80pt;
    }
    .tablecell {
        background-size: 40pt 30pt;
        padding-left: 45pt;
    }
    .sptablecell{
        background-size: 30pt 30pt;
        padding-left: 35pt;
        font-size: 6pt;
    }
    .tableframe {
    	min-width:95%;
    	overflow-x: hidden;
    }
}