<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musi2Spotify</title>
	<link rel="stylesheet" href="static/base.css">
</head>
<body>
    <div class="header">
		<h2><a href="/" class="hidden_a">SYSTEMBRACE</a></h2>
		<h1>Musi to Spotify playlist converter</h1>
		<div>
		<h3><a href="https://systembrace.carrd.co/">Socials</a></h3>
		<h3><a href="https://ko-fi.com/systembrace/">Support me on Ko-Fi</a></h3>
		</div>
	</div>

	<div class="body">

	<div class="textbox">
	<p>
		<h2>Welcome!</h2>
		This site will allow you to convert Musi playlists (an iOS music listening app) to Spotify ones by linking your Spotify account!
		<hr>
		To get started, please log in:
	</p>
	<p><a href="/login">
		<button type="button">Log in to Spotify</button>
	</a></p>
	</div>

</body>
</html>
