<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musi2Spotify</title>
	<link rel="stylesheet" href="static/base.css">
    <script src="static/js/playlist_updater.js"></script>
</head>
<body>
	<div class="header">
		<h2><a href="/" class="hidden_a">SYSTEMBRACE</a></h2>
		<h1>Musi to Spotify playlist converter</h1>
		<div>
		<h3><a href="https://systembrace.carrd.co/">Socials</a></h3>
		<h3><a href="https://ko-fi.com/systembrace/">Support me on Ko-Fi</a></h3>
		</div>
	</div>

	<div class="body">

	<div class="textbox">
    <h2 id="playlistName">Musi playlist name: </h2>
	<hr>
	<p id="scraped"><br></p>
	<p id="matched"><br></p>
	<a href="/">
		<button type="button">End conversion</button>
	</a>
	</div>

	<div id="matchUpdater" style="display: none; width: 70%; margin: auto;">
	<div class="flex-container">
	<div class="textbox">
	<h2>>
	<button type="button" onclick="create_playlist()">
		<h2>Convert playlist</h2>
	</button>
	<</h2>
	<hr>
	<p>Please scroll down and verify the matches found on Spotify are correct before converting.</p>
	<hr>
	<p>To replace an existing Spotify playlist with this one, enter the link to the playlist below:<br>
	<form>
		<input type="text" id="existingPlaylist" name="url" value="">
	</form>
	<p class="note">Note: the playlist you are replacing will be unrecoverable if you pick the wrong one. Please double check this is the correct link.</p>
	</p>
	<hr>
	<a href="/">
		<button type="button">Convert another playlist</button>
	</a>
	</div>
	<div class="textbox">
	<h2>Manually match YouTube video to Spotify track (optional):</h2>
	<hr>
	<h3 id="isSelected">Select a song below by clicking on a number.</h3>
	<div id="selectedSection" style="display: none;">
	<p style="background:white; display:inline-block; padding: 5pt; margin:0;"><a id="selectedVideo"></a><p>
	<hr>
	<h3 id="hasMatch">Matching Spotify track:</h3>
	<form onsubmit="return update_match()">
		<input type="text" id="matchedSong" name="url" value="">
		<input type="submit" value="Update">
	</form>
	<div id="removeButton" style="display: none;">
	<p>If the song isn't on spotify:
	<button type="button" onclick="remove_match()">Remove match</button>
	</p>
	</div>
	<hr>
	<p><button type="button" onclick="cancel_selection()">Cancel</button></p>
	</div>
	</div>
	</div>
	</div>

	<div class="flex-container">
	 <div id="notFoundContainer" class="box" style="display: none;">
	  <h2>Songs not found on Spotify:  </h2>
	  <hr>
	  <div class="tableframe">
       <table border="1"><thead>
        <tr>
		 <td></td>
         <td>YouTube Video</td>
        </tr></thead>
	    <tbody id="notFoundTableBody">
	    </tbody>
       </table>
	  </div>
	 </div>
 	 <div class="box">
 	  <h2>Songs found on Spotify:</h2>
	  <hr>
 	  <div class="tableframe">
       <table border="1"><thead>
        <tr>
		 <td></td>
         <td>YouTube Video</td>
         <td>Spotify Track</td>
        </tr></thead>
 	    <tbody id="foundTableBody">
 	    </tbody>
       </table>
 	  </div>
	 </div>
 	</div>
	<div class="textbox">
		<p>
			<h2>Thanks for using this site!</h2>
			If you'd like to support me or show thanks,
			you can send me a tip on Ko-Fi linked <a href="https://ko-fi.com/systembrace/">here.</a>
			This is by no means necessary, but greatly appreciated!
			<hr>
			If you don't want to tip, feel free to
			check out my other projects linked <a href="https://systembrace.carrd.co">here!</a>
			Mostly, I'm making a game that you might find interesting. Every follow or like helps!
			<hr>
			Thanks again!
			<hr>
		</p>
		<p class="note">
		    You can reach me at contact.systembrace@gmail.com for support or any bugs you encounter!
		</p>
	</div>

	</div>
</body>
</html>
